@font-face {
    font-family: 'Arial';
    src: url('../assets/fonts/Arial-BoldMT.eot');
    src: url('../assets/fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Arial-BoldMT.woff2') format('woff2'),
        url('../assets/fonts/Arial-BoldMT.woff') format('woff'),
        url('../assets/fonts/Arial-BoldMT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArialNU';
    src: url('../assets/fonts/ArialNU.eot');
    src: url('../assets/fonts/ArialNU.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ArialNU.woff2') format('woff2'),
        url('../assets/fonts/ArialNU.woff') format('woff'),
        url('../assets/fonts/ArialNU.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

