@font-face {
    font-family: 'Europa Nuova';
    src: url('EuropaNuova.eot');
    src: url('EuropaNuova.eot?#iefix') format('embedded-opentype'),
        url('EuropaNuova.woff2') format('woff2'),
        url('EuropaNuova.woff') format('woff'),
        url('EuropaNuova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Europa Title';
    src: url('EuropaTitle-Bold.eot');
    src: url('EuropaTitle-Bold.eot?#iefix') format('embedded-opentype'),
        url('EuropaTitle-Bold.woff2') format('woff2'),
        url('EuropaTitle-Bold.woff') format('woff'),
        url('EuropaTitle-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

